* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 11rem;
}

.hide {
    display: none;
}

.timer {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    width: 33rem;
}

.time span {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 12rem;
    color: #29292E;
}

.controls {
    max-width: 100%;
    display: flex;
    gap: 4rem;
}

.controls svg {
    width: 4rem;
}

.sounds {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.sounds div {
    display: flex;
    gap: 3.2rem;
}

.card {
    background-color: #E1E1E6;
    padding: 4.8rem 4.6rem;
    border-radius: 1rem;
    cursor: pointer;
}

.card img {
    width: 4.4rem;
}

svg,
img {
    max-width: 4.8rem;
    cursor: pointer;
}

svg:hover,
img:hover {
    transform: scale(1.1);
}

.playing {
    background-color: #02799D;
}

.playing>svg path {
    fill: #E1E1E6;
}

img {
    margin-left: -4px;
    margin-right: -4px;
}

button {
    border: none;
    background-color: transparent;
}

footer {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

@media(max-width:900px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }
    .controls,
    .timer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}